/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFLT 0
#define LOWER 1
#define RAISE 2
#define ADJST 3

&mt {
  tapping-term-ms = <200>;
  quick-tap-ms = <200>;
};

&lt {
  tapping-term-ms = <200>;
  quick-tap-ms = <200>;
};

/ {

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
                 &lt RAISE Q &kp W &kp E &kp R &kp T               &kp Y &kp U &kp I &kp O &lt RAISE P
                 &lt LOWER A &kp S &kp D &kp F &kp G               &kp H &kp J &kp K &kp L &lt LOWER SEMI
                 &mt LSHFT Z &kp X &kp C &kp V &kp B               &kp N &kp M &kp COMMA &kp DOT &mt RSHFT SLASH
                 &mt LCTRL RET &mt LALT ESC                        &mt LCMD BSPC &kp SPACE
                 >;
    };

    lower_layer {
      bindings = <
                 &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &kp CARET &kp AMPS  &kp ASTRK &kp PIPE  &kp BSLH
                 &kp GRAVE &kp APOS  &kp LPAR  &kp RPAR  &kp DQT   &kp PLUS  &kp MINUS &kp UNDER &kp COLON &lt ADJST SEMI
                 &kp TILDE &kp LBKT  &kp LBRC  &kp RBRC  &kp RBKT  &kp QMARK &kp EQUAL &kp LT    &kp GT    &kp SLASH
                 &sk LCTRL &sk LALT                                &sk LCMD  &mt LSHFT SPACE
                 >;
    };

    raise_layer {
      bindings = <
                 &kp INS   &kp HOME  &kp UP    &kp END   &kp DEL   &kp PLUS  &kp N7    &kp N8    &kp N9    &lt ADJST MINUS
                 &kp ESC   &kp LEFT  &kp DOWN  &kp RIGHT &kp TAB   &kp DOT   &kp N4    &kp N5    &kp N6    &kp COLON
                 &kp CAPS  &kp K_APP &kp PG_UP &kp PG_DN &kp BSPC  &kp N0    &kp N1    &kp N2    &kp N3    &kp SLASH
                 &sk LCTRL &sk LALT                                &sk LCMD  &mt LSHFT SPACE
                 >;
    };

    adjust_layer {
      bindings = <
                 &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                 &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &bt BT_CLR   &bt BT_NXT   &bt BT_PRV   &out OUT_TOG &none
                 &kp F11   &kp F12   &kp PSCRN &none     &none     &bootloader  &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &none
                 &sk RCTRL &sk RALT                                &sk RCMD &sk RSHFT
                 >;
    };

  };
};
